@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Lato:wght@300;400;700;900&display=swap");

:root {
  --color-gradient-blue: #5579ba;
  --color-gradient-green: #41a377;
  --color-font: #919193;
  --color-link: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 14px;
}

body {
  background: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: Chivo;
}

.container {
  max-width: 540px;
  margin: auto;

  padding: 20px;
  color: white;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  width: 120px;
  border-radius: 50%;
}
.gradient {
  background: linear-gradient(to right, var(--color-gradient-blue), var(--color-gradient-green));
}
.username {
  font-weight: 400;
  font-size: 2em;
  margin: 16px 0;
}

.description {
  font-size: 1em;
  color: var(--color-font);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: 1.5em;
}

.list-item {
  font-size: 1.2em;
  padding: 0em 45px;
  height: 4em;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-logo {
  height: 40px; /* Ajusta o tamanho da imagem */
}
